#content {
    width:800px;
    margin:30px auto 0;
}

#slider-list {
    margin:0;padding:0;
    list-style-type: none;
}
#slider-list li {
    display:block;
    float:left
}

#simple-slider {
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
}